PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE company (
	id INTEGER NOT NULL, 
	name VARCHAR(64) NOT NULL, 
	description VARCHAR(128), 
	size INTEGER, frequency VARCHAR(64), image VARCHAR(128), 
	PRIMARY KEY (id)
);
INSERT INTO company VALUES(1,'TechPros','Leading provider of innovative tech solutions',1200,NULL,NULL);
INSERT INTO company VALUES(2,'BioHealth','BioHealth is at the forefront of medical biotechnology',750,NULL,NULL);
INSERT INTO company VALUES(3,'EcoBuild','Eco-friendly construction and architectural solutions',890,NULL,NULL);
CREATE TABLE results (
	id INTEGER NOT NULL, 
	"testDate" DATE NOT NULL, 
	"scoreA" INTEGER NOT NULL, 
	"scoreB" INTEGER NOT NULL, 
	"scoreC" INTEGER NOT NULL, 
	user_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
INSERT INTO results VALUES(2,'2023-07-14',32,23,35,11);
INSERT INTO results VALUES(3,'2023-06-14',14,23,17,11);
INSERT INTO results VALUES(4,'2023-05-14',23,39,12,11);
CREATE TABLE IF NOT EXISTS "user" (
    id INTEGER NOT NULL PRIMARY KEY,
    email VARCHAR(120),
    password_hash VARCHAR(128),
    firstname VARCHAR(64) NOT NULL,
    lastname VARCHAR(64) NOT NULL,
    image VARCHAR(128),
    date_of_birth VARCHAR(64),
    companyId INTEGER,
    manager_id INTEGER,
    first_login BOOLEAN DEFAULT TRUE,
    role_id INTEGER, department VARCHAR(128), title VARCHAR(128),
    FOREIGN KEY(companyId) REFERENCES company (id),
    FOREIGN KEY(manager_id) REFERENCES user (id),
    FOREIGN KEY(role_id) REFERENCES role (id)
);
INSERT INTO user VALUES(1,'harsh.gupta@test.com','pbkdf2:sha256:600000$BB0QUr4jP0nhlVyW$abb1320700b803887783938aac710a9bd5ce6af4891aaa7128f27f62ff4b7570','Harsh','Gupta',NULL,'1999-10-28 00:00:00',2,3,1,NULL,NULL,NULL);
INSERT INTO user VALUES(2,'kartik.khosa@test.com','pbkdf2:sha256:600000$utVHRGDIOKgfn4Fq$093046141d5aaab665df8b3c62d04f14f737a556ede07c12ff15f294ba75170d','Kartik','Khosa',NULL,'1999-05-20 00:00:00',1,4,1,NULL,NULL,NULL);
INSERT INTO user VALUES(3,'joh.doe@gmail.com','pbkdf2:sha256:600000$9z09z0S5A85Eibe4$4d9e7d6e480484ac8955d2130c5c6302574a56b046d431ece7cbead8b2b671f1','John','Doe',NULL,'1995-12-12 00:00:00',2,6,1,NULL,NULL,NULL);
CREATE TABLE permission (
	id INTEGER NOT NULL, 
	name VARCHAR(64) NOT NULL, 
	description VARCHAR(128), 
	PRIMARY KEY (id), 
	UNIQUE (name)
);
INSERT INTO permission VALUES(1,'read','Can read data');
INSERT INTO permission VALUES(2,'write','Can write data');
INSERT INTO permission VALUES(3,'delete','Can delete data');
CREATE TABLE role_permissions (
	role_id INTEGER NOT NULL, 
	permission_id INTEGER NOT NULL, 
	PRIMARY KEY (role_id, permission_id), 
	FOREIGN KEY(role_id) REFERENCES role (id), 
	FOREIGN KEY(permission_id) REFERENCES permission (id)
);
INSERT INTO role_permissions VALUES(1,4);
INSERT INTO role_permissions VALUES(2,1);
INSERT INTO role_permissions VALUES(2,2);
CREATE TABLE feedback (
	id INTEGER NOT NULL, 
	company_id INTEGER, 
	date_submitted DATETIME NOT NULL, 
	description TEXT NOT NULL, 
	status VARCHAR(64), 
	PRIMARY KEY (id), 
	FOREIGN KEY(company_id) REFERENCES company (id)
);
INSERT INTO feedback VALUES(1,10,'2023-01-01 10:10:12','Feedback from User 12','Reviewed');
INSERT INTO feedback VALUES(2,10,'2023-01-01 10:10:13','Feedback from User 13','Reviewed');
INSERT INTO feedback VALUES(3,10,'2023-01-01 10:10:14','Feedback from User 14','Reviewed');
CREATE TABLE alembic_version (
	version_num VARCHAR(32) NOT NULL, 
	CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);
INSERT INTO alembic_version VALUES('3a02e95825b5');
CREATE TABLE IF NOT EXISTS "role" (
	id INTEGER NOT NULL, 
	name VARCHAR(64), 
	PRIMARY KEY (id), 
	UNIQUE (name)
);
INSERT INTO role VALUES(1,'SuperUser');
INSERT INTO role VALUES(2,'Admin');
INSERT INTO role VALUES(3,'HR');
CREATE TABLE resources (
	id INTEGER NOT NULL, 
	category VARCHAR(120) NOT NULL, 
	title VARCHAR(120) NOT NULL, 
	description VARCHAR(500), 
	link VARCHAR(500) NOT NULL, 
	date_added DATETIME, 
	PRIMARY KEY (id)
);
INSERT INTO resources VALUES(1,'Evaluate Your Options','Harvard Business Review (HBR) Article','"How to Tell Your Boss You''re Burned Out" - This article provides insights on approaching and communicating with your supervisor about burnout.','https://hbr.org/2021/01/how-to-tell-your-boss-youre-burned-out','2023-08-23 18:56:56');
INSERT INTO resources VALUES(2,'Evaluate Your Options','Sproutsocial','Gain insights on addressing burnout in the workplace and how to communicate your feelings effectively.','https://sproutsocial.com/insights/talking-to-your-boss-about-burnout/','2023-08-23 18:56:56');
INSERT INTO resources VALUES(3,'Evaluate Your Options','The Muse','"A Realistic Plan for Telling Your Boss That You''re Burnt Out" - A step-by-step guide to discussing burnout and seeking personal time.','https://www.themuse.com/advice/a-realistic-plan-for-telling-your-boss-that-youre-burnt-out-and-need-personal-time','2023-08-23 18:56:56');
CREATE UNIQUE INDEX ix_user_email ON user (email);
COMMIT;
