{% extends "base.html" %}

{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(45deg, #020014, #09033F);
    }
    .form-label {
        color: #09033F;
    }
    .card {
        border-radius: 10px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 5px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2"> <!-- Center the form on large screens -->
            <div class="card">
                <div class="card-header bg-warning text-white"> <!-- New header color -->
                    <h2 class="mb-0 text-center">Company Settings</h2>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('main.company_settings') }}" method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            <label class="form-label"><i class="fa fa-building"></i> Company Name</label>
                            <input type="text" class="form-control" id="companyName" name="companyName" value="{{ current_user.company.name }}">
                        </div>

                        <div class="form-group">
                            <label class="form-label"><i class="fa fa-info-circle"></i> Company Description</label>
                            <input type="text" class="form-control" id="companyDescription" name="companyDescription" value="{{ current_user.company.description }}">
                        </div>

                        <div class="form-group">
                            <label class="form-label"><i class="fa fa-users"></i> Company Size</label>
                            <input type="number" class="form-control" id="companySize" name="companySize" value="{{ current_user.company.size }}">
                        </div>

                        <div class="form-group">
                            <label for="companyLogo" class="mr-3" style="color:#09033F">Upload Company Logo</label>
                            <div class="form-group d-flex align-items-center" style="color:#09033F">
                            
                                <!-- Display current logo if it exists -->
                                {% if current_user.company.image %}
                                    <div class="mb-2 mr-3">
                                        <img src="{{ url_for('static', filename='company_logo/' + current_user.company.image) }}" alt="Current Company Logo" width="100">
                                    </div>
                                {% endif %}
                                
                                <div>
                                    <input type="file" class="form-control-file" id="companyLogo" name="companyLogo">
                                    {% if form.companyLogo.errors %}
                                        <span class="text-danger d-block mt-1">{{ form.companyLogo.errors[0] }}</span>
                                    {% endif %}
                                </div>
                            </div>    
                        </div>
                        
                        <!-- Message display -->
                        {% if message %}
                            <div class="alert alert-{{ message_type }} alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}

                        <button type="submit" class="btn btn-primary mt-2 px-4">Update Settings</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
