{% extends "base.html" %}

{% block content %}
<style>
    /* Base and Typography */
    body {
        font-family: 'Arial', sans-serif;
        color: #f1f1f1;
        line-height: 1.7;
    }

    .container {
        max-width: 900px;
    }

    h1, h2 {
        margin: 1rem;
    }

    h1 {
        text-align: center;
    }

    .lead {
        margin-bottom: 1.5rem;
    }

    .section-header {
        color: #ffffff;
        margin-bottom: 20px;
        margin-left: 3rem;
    }

    .section-content {
        font-size: 18px;
        margin-left: 3rem;
    }

    /* Icons */
    .icon-style {
        color: #007bff;
        margin-right: 10px;
        transition: color 0.3s;
    }

    .icon-style:hover {
        color: #0056b3;
    }

    /* Features Section */
    .features-section {
        background-color: #1a1a1a;
        padding: 2rem 0;
    }

    /* Button */
    .btn {
        padding: 12px 25px;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .btn:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

    .btn:active {
        transform: scale(1);
    }

    /* Images */
    img.img-fluid {
        border-radius: 10px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    }

    /* Divider */
    .white-divider {
        border-color: #ffffff;
        opacity: 0.5;
    }
    section {
        padding-top: 2rem; /* adjust as needed */
        padding-bottom: 2rem; /* adjust as needed */
    }
    .white-bg {
        background-color: #f5f5f5;
        padding: 20px 0; /* Optional: Adds vertical padding to the section */
    }

</style>

<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
    AOS.init({
      duration: 800,
      easing: 'slide'
    });
</script>

<div class="hero-section text-center gradient-bg">
    <!-- Introduction -->
    <section id="introduction">
        <h1 class="section-header text-left display-4">About Flourish at Work</h1>
        <p class="lead section-content text-left">Welcome to Flourish at Work, a unique initiative by Kartik. My vision is to transform workplaces into environments where the mental and emotional well-being of employees is prioritized and nurtured.</p>
        <br>
        <h2 class="section-header text-left display-5" >The Genesis</h2>
        <p class="section-content text-left">As the sole founder and driving force behind Flourish at Work, I am committed to redefining how businesses prioritize mental well-being in the workplace.</p>
        <p class="section-content text-left">In our digitally-driven world, work-life boundaries often blur. Flourish at Work aims to equip individuals and organizations with tools and strategies to ensure a balanced mental and emotional state.</p>
    </section>
</div>

<section id="new-section" class="white-bg">
    <h2 class="section-header display-5" style="color: darkblue">A Personalized Approach</h2>
    <p class="section-content" style="color: darkblue">What sets Flourish at Work apart is a personalized touch. Recognizing that each individual's mental health journey is distinct, I offer tailor-made solutions, giving special attention to every detail.</p>
</section>

<div class="features-section text-center">
    <!-- The Significance of Mental and Emotional Health in the Workplace -->
    <section id="significance-and-vision">
        <h2 class="section-header text-left display-5">Why Mental and Emotional Health Matters</h2>
        <p class="section-content text-left">The importance of mental well-being in the modern workspace is immense. The benefits of focusing on personal well-being are:</p>
        <div class="mb-3 text-left" style="margin-left: 3em; margin-right: 3em;">
            <i class="icon-style fas fa-check-circle"></i>
            <strong>Boosting Productivity:</strong> An employee free from stress and anxiety can give their best.
        </div>
        <div class="mb-3 text-left" style="margin-left: 3em; margin-right: 3em;">
            <i class="icon-style fas fa-check-circle"></i>
            <strong>Enhancing Collaboration:</strong> Positive emotional health cultivates harmony and teamwork.
        </div>
        <div class="mb-3 text-left" style="margin-left: 3em; margin-right: 3em;">
            <i class="icon-style fas fa-check-circle"></i>
            <strong>Reducing Absenteeism:</strong> A mentally healthy employee is more motivated to contribute consistently.
        </div>
        <div class="mb-3 text-left" style="margin-left: 3em; margin-right: 3em;">
            <i class="icon-style fas fa-check-circle"></i>
            <strong>Retaining Top Talent:</strong> Companies with a focus on mental well-being tend to retain employees longer and maintain higher job satisfaction rates.
        </div>
        <br>
        </section>
</div>

<section id="new-section" class="white-bg" data-aos="fade-up" data-aos-delay="0">
    <h2 class="section-header display-5" style="color: darkblue">Vision and Commitment</h2>
    <p class="section-content" style="color: darkblue">Though a solo endeavor for now, my commitment to Flourish at Work is backed by extensive research, a deep understanding of the field, and a burning passion to revolutionize workplace health.</p>
</section>

<div class="hero-section text-center gradient-bg">
    <!-- Features & Call to Action -->
    <section id="features-and-conclusion" data-aos="fade-up" data-aos-delay="0">
        <h2 class="section-header text-left display-5">Features Designed With Care</h2>
        <ul class="list-unstyled mb-4">
            <li class="mb-3 text-left" style="margin-left: 3em; margin-right: 3em;"><i class="icon-style fas fa-heartbeat"></i><strong>Burnout Score:</strong> Assess mental well-being and get guidance tailored for you.</li>
            <li class="mb-3 text-left" style="margin-left: 3em; margin-right: 3em;"><i class="icon-style fas fa-book-open"></i><strong>Curated Resources:</strong> A collection of resources dedicated to enhancing employee well-being.</li>
            <li class="mb-3 text-left" style="margin-left: 3em; margin-right: 3em;"><i class="icon-style fas fa-comments"></i><strong>Expert Connect:</strong> Opportunity to engage with mental health professionals for advice.</li>
            <li class="mb-3 text-left" style="margin-left: 3em; margin-right: 3em;"><i class="icon-style fas fa-users"></i><strong>Community:</strong> A space for peers to connect, share and uplift each other.</li>
            <li class="mb-3 text-left" style="margin-left: 3em; margin-right: 3em;"><i class="icon-style fas fa-chart-line"></i><strong>Insightful Analytics:</strong> Gain insights on organizational well-being trends to make informed decisions.</li>
            <li class="mb-3 text-left" style="margin-left: 3em; margin-right: 3em;"><i class="icon-style fas fa-award"></i><strong>Wellness Challenges:</strong> Engage your teams with monthly wellness challenges to promote healthy habits.</li>
        </ul>        
    </section>
</div>

<div class="features-section text-center">
    <h2 class="section-header display-5">Join the Flourish Movement</h2>
    <p class="section-content">I'm on a mission to positively impact workplaces around the world. Be a part of this change, and together, let's prioritize well-being and build a healthier future.</p>
    <div class="text-center mt-3">
        <a class="btn btn-primary" href="{{ url_for('main.pricing') }}">Explore Offerings</a>
    </div>
</div>

{% endblock %}