{% extends "base.html" %}

{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(45deg, #020014, #09033F);
        color: #e1e1e1;
    }

    .card {
        background-color: #2a2a2a;
        border-radius: 8px;
        overflow: hidden;
    }

    .card-header {
        font-weight: bold;
        background-color: #1a1a1a;
        padding: 15px;
    }

    .card-body {
        padding: 15px;
    }

    .card.bg-primary {
        background-color: #2e4d9f !important;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

    .content-section {
        background-color: #2a2a2a;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .resources-section h2 {
        color: #e1e1e1;
        border-bottom: 2px solid #e0e0e0;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .resources-section p {
        color: #b1b1b1;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .list-group-item {
        border: none;
        padding: 15px;
        background-color: #1a1a1a;
        margin-bottom: 5px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .list-group-item:hover {
        background-color: #0a0a0a;
    }

    .list-group-item a {
        color: #007bff;
        text-decoration: none;
        font-weight: 500;
    }

    .list-group-item a:hover {
        text-decoration: underline;
    }

    .large-text .list-group-item {
        font-size: 1.5rem;  /* adjust this value as needed */
    }
</style>
  
<div class="container mt-5">
    
    <div class="row mt-4">
        
        <!-- Profile Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Your Profile</h3>
                </div>
                <div class="card-body text-center">
                    <!-- Add a profile picture -->
                    {% if current_user.image %}
                        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image) }}" alt="Profile Picture" class="img-thumbnail mb-3" style="max-width: 250px; max-height: 250px;">
                    {% else %}
                        <img src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="Profile Picture" class="img-thumbnail mb-3" style="max-width: 250px; max-height: 250px;">
                    {% endif %}

                    <h5>{{ user.firstname }} {{ user.lastname }}</h5>
                    <p class="card-body text-center">
                        {% if user.date_of_birth %}
                            Date of Birth: {{ user.date_of_birth.split(" ")[0] }}<br>
                        {% else %}
                            Date of Birth: Not provided<br>
                        {% endif %}
                        Organization: {{ user.company.name }}<br>
                        Role: {{ user.title }}
                    </p>
                </div>
            </div>
        </div>
        
        <!-- Burnout Score Card -->
        <div class="col-md-4">
            <div class="card" 
                 {% if last_score %}
                    {% set scaled_score = (last_score.scoreA + last_score.scoreB + (48 - last_score.scoreC)) * 100 / 132 + 0.5 %}
                    {% if scaled_score <= 33 %}
                        style="background: linear-gradient(45deg, lightgreen, green);"
                    {% elif scaled_score <= 66 %}
                        style="background: linear-gradient(45deg, yellow, orange);"
                    {% else %}
                        style="background: linear-gradient(45deg, salmon, red);"
                    {% endif %}
                {% endif %}
            >
                <div class="card-header">
                    <h3>Current Burnout Score</h3>
                </div>
                <div class="card-body text-center">
                    <h1 style="color: #020014;">
                        {% if last_score %}
                            {{ scaled_score|int }}/100
                        {% else %}
                            N/A
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>
        
        <!-- Score History Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Score History</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group large-text">
                        {% for month in [three_months_ago, two_months_ago, last_month] %}
                            <li class="list-group-item d-flex justify-content-between">
                                {{ ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][month-1] }}
                                <span>
                                    {% if scores_dict.get(month) %}
                                        {% set scaled_score = (scores_dict[month].scoreA + scores_dict[month].scoreB + (48 - scores_dict[month].scoreC)) * 100 / 132 %}
                                        {{ scaled_score|int }}/100
                                    {% else %}
                                        <span class="text-muted">--/--</span>
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>                
            </div>
        </div>

    </div>
    <br>
    
</div>

<div class="content-section section-content container mt-5" style="margin-bottom: 2%;">
    <!-- Resources Section -->
    <div class="resources-section mt-4 pb-3">
        <h2>Curated Resources For you</h2>
        <ul class="list-group">
            {% for resource in resources %}
                <li class="list-group-item"><a href="{{ resource.link }}">{{ resource.title }}: {{ resource.description }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
