{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=30) }}
        </p>
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname(size=30) }}
        </p>
        <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(size=30) }}
        </p>
        <p>
            {{ form.date_of_birth.label }}<br>
            {{ form.date_of_birth() }}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image(size=30) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
