{% extends "base.html" %}

{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(45deg, #020014, #09033F);
    }
    .form-label {
        color: #09033F;
    }
    .card {
        border-radius: 10px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 5px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2"> <!-- Center the form on large screens -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0 text-center">Provide Your Feedback To HR</h2>
                </div>
                <div class="card-body">
                    <!-- Display Success Message -->
                    <form method="post" action="{{ url_for('main.feedback') }}">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            <label class="form-label">Anonymously Share Feedback to Improve Staff Well-being. Whether it's ideas for team activities or snack bar options, we value your input.</label>
                            {{ form.feedback(class="form-control" + (" is-invalid" if form.feedback.errors else ""), rows="5") }}
                            {% if form.feedback.errors %}
                                <div class="invalid-feedback">
                                    {{ form.feedback.errors[0] }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        {% if message %}
                            <div class="alert alert-{{ message_type }} mt-2" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
