{% extends "base.html" %}

{% block content %}

<!-- Hero Section -->
<div class="hero-section text-center gradient-bg">
    <div class="container" style="padding-top: 100px; padding-bottom: 50px;">
        <!-- Company Logo or Image -->
        <img src="/static/images/logo-n2.png" alt="Flourish at Work Logo" width="200">
        
        <!-- Main Headline -->
        <h1 class="display-4 mt-4">Welcome to Flourish at Work!</h1>

        <!-- Sub headline -->
        <p class="lead mt-4" style="font-size: 1.5rem; color: white;">We are dedicated to your well-being in the workplace.</p>

        <!-- Separator -->
        <hr class="my-4" style="border-color: white;">

        <!-- Brief Description -->
        <p class="mb-4" style="color: white;"><i class="fas fa-heartbeat"></i> Our mission is to provide tools and resources to ensure your mental and emotional health while working.</p>

        <!-- Call to Action -->
        <p class="lead mt-4">
            <a class="btn btn-light btn-lg" href="{{ url_for('main.ourprocess') }}" role="button"><i class="fas fa-play-circle"></i> Learn More About Our Process</a>
        </p>
    </div>
</div>

<div class="features-section text-center">
    <div class="container">
        <h2 class="mt-0">Our Proven Mechanism</h2>
        <div class="row mt-5 d-flex align-items-stretch">
            
            <div class="col-md-4 d-flex mb-4">
                <div class="feature-box p-4 d-flex flex-column">
                    <div>
                        <i class="fas fa-heartbeat fa-2x mb-3"></i>
                        <h4>Dynamic Burnout Score</h4>
                    </div>
                    <p class="mb-auto">A real-time snapshot of your mental state, derived from an evolving algorithm.</p>
                </div>
            </div>

            <div class="col-md-4 d-flex mb-4">
                <div class="feature-box p-4 d-flex flex-column">
                    <div>
                        <i class="fas fa-chart-line fa-2x mb-3"></i>
                        <h4>Insightful Analytics</h4>
                    </div>
                    <p class="mb-auto">Transform mental health data into actionable insights to stay ahead.</p>
                </div>
            </div>

            <div class="col-md-4 d-flex mb-4">
                <div class="feature-box p-4 d-flex flex-column">
                    <div>
                        <i class="fas fa-book-open fa-2x mb-3"></i>
                        <h4>Key Curations</h4>
                    </div>
                    <p class="mb-auto">Handpicked resources tailored for optimal mental well-being.</p>
                </div>
            </div>

        </div>




        <h2 class="mt-5">What Sets Us Apart</h2>
        <div class="row mt-5 d-flex align-items-stretch">
            
            <div class="col-md-4 d-flex mb-4">
                <div class="feature-box p-4 d-flex flex-column">
                    <div>
                        <i class="fas fa-user-cog fa-2x mb-3"></i>
                        <h4>Personalized Experience</h4>
                    </div>
                    <p class="mb-auto">Our proprietary algorithm ensures tailored resources and advice for each user, addressing unique mental health needs.</p>
                </div>
            </div>
            
            <div class="col-md-4 d-flex mb-4">
                <div class="feature-box p-4 d-flex flex-column">
                    <div>
                        <i class="fas fa-user-shield fa-2x mb-3"></i>
                        <h4>Privacy First</h4>
                    </div>
                    <p class="mb-auto">Your mental well-being data is sensitive. We prioritize your privacy, ensuring no unauthorized access.</p>
                </div>
            </div>

            <div class="col-md-4 d-flex mb-4">
                <div class="feature-box p-4 d-flex flex-column">
                    <div>
                        <i class="fas fa-graduation-cap fa-2x mb-3"></i>
                        <h4>Continuous Learning & Growth</h4>
                    </div>
                    <p class="mb-auto">Harness the power of curated content to continually evolve and improve your mental well-being practices.</p>
                </div>
            </div>

        </div>

    </div> <!-- End of container -->
</div>


<div class="hero-section text-center gradient-bg">
    <div class="container mt-0" style="padding-top: 60px; padding-bottom: 60px;">
        <h2 style="font-weight: bold; margin-bottom: 25px;">The Imperative of Mental and Emotional Health in the Workplace</h2>
        
        <p style="font-size: 1.1rem; line-height: 1.7; margin-bottom: 30px;">In today's fast-paced workplace, it's easy to overlook mental and emotional health. But the importance of well-being is paramount:</p>

        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-smile fa-3x mb-3" style="color: #ffc107;"></i> <!-- Change icon as needed -->
                <h4>Boosting Productivity</h4>
                <p>Stress-free employees perform at their best.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-users fa-3x mb-3" style="color: #28a745;"></i> <!-- Change icon as needed -->
                <h4>Enhancing Collaboration</h4>
                <p>Good emotional health fosters teamwork.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-calendar-check fa-3x mb-3" style="color: #17a2b8;"></i> <!-- Change icon as needed -->
                <h4>Reducing Absenteeism</h4>
                <p>Mentally healthy employees are consistent contributors.</p>
            </div>
        </div>

        <p style="font-size: 1.1rem; line-height: 1.7; margin-top: 40px;">Join us in emphasizing well-being over mere performance metrics.</p>
    </div>
</div>

<div class="features-section text-center">
    <div class="container">
        <h3 class="section-header display-4" style="font-size: xx-large;">Demo for Companies</h3>
        <br>
        <!-- YouTube Video Embed -->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HvcBWtOWhvk?si=XBU7jnMCyIhridvx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <br>
    </div>
</div>    

{% endblock %}