{% extends "base.html" %}

{% block content %}
<style>
    /* Custom Styles */
    .sign-in-card {
        border-radius: 10.5px;
        transition: transform .2s;
        border: none; /* Remove the border from the card */
    }

    .sign-in-card:hover {
        transform: scale(1.05);
    }

    .sign-in-card-header {
        background-color: #007bff; /* Bootstrap Dark */
        color: #ffffff;
        border-top-left-radius: 10px; /* Match the border-radius of the card */
        border-top-right-radius: 10px; /* Match the border-radius of the card */
        text-align: center;
        border: none; /* Remove the border from the card header */
    }

    .alert {
        margin-top: 10px;
    }

    .btn-primary {
        background-color: #007BFF;
        border: none;
        padding: 10px 20px;
        font-weight: 600;
    }
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(45deg, #020014, #09033F);
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card sign-in-card">
                <div class="card-header sign-in-card-header">
                    <h3 class="mb-0">Login</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}

                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if message == "Registration successful." %}
                                        <div class="alert alert-success">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <div class="form-group" style="color: black;">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control") }}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group" style="color: black;">
                            {{ form.password.label(class="form-label") }}
                            {{ form.password(class="form-control") }}
                        </div>

                        <div class="form-check mb-4" style="color: black;">
                            {{ form.remember_me(class="form-check-input") }}
                            {{ form.remember_me.label(class="form-check-label") }}
                        </div>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Sign In">
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
