{% extends "base.html" %}

{% block title %}
Dashboard - Employee Burnout Prevention
{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Burnout Test History</h1>
        <p class="lead">Keep Track of your well-being and burnout effectively.</p>
        <hr class="my-4">
    </div>
    
    <div>
        <h3>Date: </h3>
        <p>Test A: 
            &emsp;&emsp; Test B: 
            &emsp;&emsp;&emsp;&emsp;Test C: </p>
        <p>Total: </p>
        <p>Burnout Rate:</p>
    </div>
</div>

{% endblock %}