{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .btn {
            margin-top: 20px;
            border-radius: 20px;
            padding: 10px;
            font-size: 1rem;
            transition: all 0.3s ease-in-out;
            align-items: center;
            justify-content: center;
        }
        .btn-primary {
            background-color: #007bff;
            border: none;
        }
        .btn-primary:hover {
            background-color: #0056b3;
        }
        .btn-secondary {
            background-color: #6c757d;
            border: none;
        }
        .btn-secondary:hover {
            background-color: #5a6268;
        }
        .custom-control-label {
            font-size: 1rem;
        }
        .missed-indicator {
            font-weight: bold;
        }
        .section {
            padding: 30px 0; /* 30px padding top and bottom */
            margin: 20px 0; /* 20px margin top and bottom */
            border-bottom: 1px solid #f0f0f0; /* subtle divider */
        }
    </style>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="mbi-description mb-4 p-4">
        <h4 class="text-center mb-3 text-primary">Wellness Insight Assessment Rating Scale:</h4>
        <p class="font-weight-bold">For each statement, you're asked to indicate how often you feel a particular way. The scale ranges from 0 to 6, and here's what each number represents:</p>
        <ul class="list-group">
            <li class="list-group-item"><strong>0 (Never):</strong> You have never felt this way.</li>
            <li class="list-group-item"><strong>1 (A few times a year or less):</strong> You rarely feel this way, perhaps a few times throughout the year.</li>
            <li class="list-group-item"><strong>2 (Once a month or less):</strong> You feel this way occasionally but not frequently.</li>
            <li class="list-group-item"><strong>3 (A few times a month):</strong> You feel this way several times in a month, but it's not a regular occurrence.</li>
            <li class="list-group-item"><strong>4 (Once a week):</strong> You feel this way about once every week.</li>
            <li class="list-group-item"><strong>5 (A few times a week):</strong> This feeling occurs multiple times in a week.</li>
            <li class="list-group-item"><strong>6 (Every day):</strong> You feel this way daily.</li>
        </ul>
        <p class="mt-3 text-muted">Please select the number that best matches your feelings based on the frequency.</p>
    </div>
    

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="POST" class="p-4 shadow-lg bg-white rounded" id="testForm">
                {{ form.hidden_tag() }}
                <div class="container">
                    <div class="section">
                        <h3 style="text-align: center;">Emotional Fatigue</h3>
                        {% for question in section1 %}
                        <div class="form-group question">
                            <span class="missed-indicator" style="display: none; color: red;">★ Incomplete</span><br><label>{{ question.label }}</label><br>
                            {% for subfield in question %}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="{{ subfield.id }}" name="{{ subfield.name }}" value="{{ loop.index0 }}" class="custom-control-input">
                                    <label class="custom-control-label" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>

                    <div style="margin: 40px 0; border-top: 1px solid #e0e0e0;"></div>
    
                    <div class="section"></div>
                        <h3 style="text-align: center;">Cynicism & Detachment</h3>
                        {% for question in section2 %}
                        <div class="form-group question">
                            <span class="missed-indicator" style="display: none; color: red;">★ Incomplete</span><br><label>{{ question.label }}</label><br>
                            {% for subfield in question %}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="{{ subfield.id }}" name="{{ subfield.name }}" value="{{ loop.index0 }}" class="custom-control-input">
                                    <label class="custom-control-label" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>

                    <div style="margin: 40px 0; border-top: 1px solid #e0e0e0;"></div>
    
                    <div class="section">
                        <h3 style="text-align: center;">Professional Efficacy</h3>
                        {% for question in section3 %}
                        <div class="form-group question">
                            <span class="missed-indicator" style="display: none; color: red;">★ Incomplete</span><br><label>{{ question.label }}</label><br>
                            {% for subfield in question %}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="{{ subfield.id }}" name="{{ subfield.name }}" value="{{ loop.index0 }}" class="custom-control-input">
                                    <label class="custom-control-label" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="submit" class="btn btn-primary">Submit Responses</button>
                        <button type="button" class="btn btn-secondary" id="resetBtn">Reset</button>
                    </div>
                    <div id="warningMsg" class="alert alert-danger mt-3" style="display: none;">
                        Oops, it seems like you've missed some questions. We need your response on all questions to provide the best results. Please check the starred questions and provide your answers. Thank you!
                    </div>  
                </div>
                
            </form>
        </div>
    </div>
</div>
<div><br></div>
<div><br></div>
<script>
    document.getElementById('testForm').addEventListener('submit', function(event) {
        let questions = document.querySelectorAll('.question');
        let allAnswered = true;

        questions.forEach(question => {
            let inputs = question.querySelectorAll('input[type="radio"]');
            let answered = Array.from(inputs).some(input => input.checked);
            let indicator = question.querySelector('.missed-indicator');

            if (!answered) {
                allAnswered = false;
                indicator.style.display = 'inline';
            } else {
                indicator.style.display = 'none';
            }
        });

        if (!allAnswered) {
            event.preventDefault();
            document.getElementById('warningMsg').style.display = 'block';
        } else {
            document.getElementById('warningMsg').style.display = 'none';
        }
    });

    // Add event listener to reset button
    document.getElementById('resetBtn').addEventListener('click', function() {
        document.getElementById('testForm').reset();
        let questions = document.querySelectorAll('.question');
        questions.forEach(question => {
            question.querySelector('.missed-indicator').style.display = 'none';
        });
        document.getElementById('warningMsg').style.display = 'none';
    });
</script>
{% endblock %}