{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2"> <!-- Center the form on large screens -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0 text-center">View Profile</h2>
                </div>
                <div class="card-body">
                    {% if message %}
                        <div class="alert alert-{{ message_type }} alert-dismissible fade show" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            <label class="form-label"><i class="fa fa-envelope"></i> {{ form.email.label }}</label>
                            {{ form.email(class="form-control", value=current_user.email) }}
                        </div>
                        
                        <div class="form-group">
                            <label class="form-label"><i class="fa fa-user"></i> {{ form.firstname.label }}</label>
                            {{ form.firstname(class="form-control", value=current_user.firstname) }}
                        </div>

                        <div class="form-group">
                            <label class="form-label"><i class="fa fa-user"></i> {{ form.lastname.label }}</label>
                            {{ form.lastname(class="form-control", value=current_user.lastname) }}
                        </div>

                        <div class="form-group">
                            <label class="form-label"><i class="fa fa-calendar"></i> {{ form.date_of_birth.label }}</label>
                            {% if current_user.date_of_birth %}
                                {{ form.date_of_birth(class="form-control", value=current_user.date_of_birth.split(" ")[0]) }}
                            {% else %}
                                {{ form.date_of_birth(class="form-control", placeholder="Select your birthdate") }}
                            {% endif %}
                        </div>        

                        <div class="form-group">
                            <label class="form-label"><i class="fa fa-image"></i> {{ form.image.label }}</label>
                            {{ form.image(class="form-control-file") }}
                        </div>

                        <div class="form-group d-flex align-items-center">
                            {% if current_user.image %}
                                <img src="{{ url_for('static', filename='profile_pics/' + current_user.image) }}" alt="Profile Picture" class="img-thumbnail mb-3 mr-3" style="max-width: 250px; max-height: 250px;">
                            {% else %}
                                <img src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="Profile Picture" class="img-thumbnail mb-3 mr-3" style="max-width: 250px; max-height: 250px;">
                            {% endif %}
                            {{ form.submit(class="btn btn-primary mt-2 px-4") }}
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}